<h2>Скачать программное обеспечение</h2>

<p>Здесь вы можете скачать необходимые файлы для работы с LED-лентой.</p>

<ul>
  <li><a href="/downloads/firmware.bin" download>Скачать прошивку (ESP/Arduino)</a></li>
  <li><a href="/downloads/controller_app.exe" download>Приложение для ПК (Windows)</a></li>
  <li><a href="/downloads/setup_guide.pdf" download>Инструкция по установке</a></li>
</ul>
